*{
    z-index: 1;
}
body, html {
    background: #141414;
}

h1 h2 h3 p {
    font-family: 'Bebas Neue', cursive;
}

.primary-navigation {
    justify-content:flex-start;
    padding: 1.5% 4%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.netflix-logo {
    content: url("assets/netflix-font.svg");
    height: auto;
    width: 10vw;
}

.dropdown-menu {
    background-color: rgba(20,20,20,0.8);
}

.browse {
    display: block;
}

.primary-navigation a {
    font-size: 1.8vw;
    text-decoration: none;
    color: #fff;
}

.primary-navigation a:hover {
    color: #b3b3b3;
}

.nav-element {
    padding: 0 auto;
}

.navigation-tab {
    color: #fff;
}

.icon {
    /* padding: 0 1vw; */
    color: #fff;
    font-size: 2.5vw;
    
}

.fa-caret-down {
    font-size: .8rem !important;
    padding: 0;
}

.account-img {
    height: auto;
    width: 1.8rem;
    border-radius: 5px;
}

.nav-kids, .nav-bell, .nav-account {
    margin-left: 0.8rem;
}

.nav-kids a {
    text-decoration: none;
}

/* Trailer-Image */

.img-layer {
    background-image:
    linear-gradient(to bottom, transparent, rgba(20,20,20,1) 99.5%),
    linear-gradient(to top, transparent, rgba(20,20,20,0.1) 3%),
    linear-gradient(to left, transparent, rgba(20,20,20,0.1) 3%),
    linear-gradient(to right, transparent, rgba(20,20,20,0.1) 3%);
    display:flex;
    align-items:end;
}

.bg-img {
    width:100%;
    height:auto;
}

.img-vignette {
    background-image: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
    background-size: 100% 100%;
    background-position: 0 top;
    background-repeat: repeat-x;
    background-color: transparent;
    width: 100%;
    height: 14.7vw;
    top: auto;
    opacity: 1;
    z-index: 8;
    position: absolute;
    left: 0;
    right: 0;
}

/* Logo and text */
.wrapper {
    position: absolute;
    top: 2rem;
    left: 4%;
}

.title-logo {
    width: 40vw;
}

.text-wrapper {
    margin: 5% 0;
    width: 40vw;
    color: #fff;
    font-size: 1.5vw;
    text-shadow: 1px 1px black;
}

/* Button */

.play-button {
    background-color: #fff;
}

.fa-play, .fa-exclamation {
    font-size: 1.5vh;
    font-weight: bold;
}

.play-text, .info-text{
    font-size: 1.2vh;
    font-weight: bold;
}

.info-button {
    background-color: rgba(109,109,110,0.7);
}

.info-button .logo-and-text-container {
    color: #fff;
}

/* Maturity Content */
.embedded-components {
    position: absolute;
    right: 0;
    bottom:85vh;
}
 
.maturity-content {
    border: solid 3px #dcdcdc;
    border-style: none none none solid; 
    background-color: rgba(51, 51, 51, .6);
    font-size: 1.1vw;
    padding: 0.5vw 3.5vw 0.5vw 0.8vw;
}

.maturity-number {
    color: #fff;
}

/* Main Section */
main {
    z-index: 10;
    margin: auto 4%;
}

#continue-watching {
    z-index: 10;
    position:relative;
    margin-top: -1.5rem;
}

section h1 {
    font-size:3vw;
    color: #fff;
}

/* .owl-nav {
    display: none;
} */

#my-list, #trending-now {
    margin-top: 4vw;
}



/* Footer */
footer {
    color: grey;
    padding: 10px 0;
}

.footer-container {
    margin: 4%;
    margin-bottom: 0;
}

.footer-content {
    padding: 0 4rem;
}

.fa-brands {
    font-size: 1.5rem;
    color: #fff;
}

.information {
    margin: 1rem 0;
    padding: 0;
}

footer a {
    color: grey;
    font-size: 0.8rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: grey;
}

.social-media-icon-padding {
    padding-right: 0.9rem;
}

.social-media-icon-padding-2{
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

.row-margin {
    margin: 10px 0;
}

.service-code {
    margin-top: 2rem;
}

.service-code-btn {
    color: grey;
    border: 1px solid grey;
    font-size: 0.85rem;
    background-color: transparent;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.copyright {
    font-size: 0.7rem;
}

.nav-colored {
    background-color: rgba(20,20,20);
    transition: background-color 500ms linear;
}

.nav-transparent {
    background-color: transparent;
    transition: background-color 500ms linear;
}

/* All styles are design mobile first */

/* Tablet and above */
@media (min-width: 992px) {

    /* Responsive Sizing */

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
    }

    /* .second-navigation a {
        margin: 0
    } */

    .primary-navigation {
        padding-top: 1rem;
    }

    .primary-navigation a {
        font-size: .9rem;
        padding: 0;
        margin: 0;
    }

    .netflix-logo {
        width: 5.8rem;
    }

    .icon {
        font-size: 1.2rem;
        padding: auto .5rem;
    } 

    .fa-bell {
        margin: 0 1.5rem;
    }

    /* trailer-image */
    .wrapper {
        top: 13vh;
    }

    /* Button */

    .play-button {
        background-color: #fff;
    }

    .fa-play, .fa-exclamation {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .play-text, .info-text{
        font-size: 1.2rem;
        font-weight: bold;
    }

    .info-button {
        background-color: rgba(109,109,110,0.7);
    }

    .info-button .logo-and-text-container {
        color: #fff;
    }

    /* Maturity Content */
    .embedded-components {
        bottom:35%;
    }

    /* main */
    #continue-watching {
        margin-top: -14%;
    }

    #continue-watching,
    #my-list,
    #trending-now {
        width: 108%;
        margin-left: -4%;
        margin-right: -4%;
    }

    section h1 {
        font-size: 1.5rem;
    }

    footer {
        margin-top: 5rem;
        width: 70%;
    }
 }

 .owl-item {
    border-radius: 4px;
    overflow: hidden;
 }

 .owl-nav {
    position: absolute;
    top: 0;
    bottom: 100%;
    width: 100%;
 }
 div.owl-carousel:hover .owl-nav button.owl-prev {
    color: #fff;
    background: rgba(0,0,0,.5);
    line-height: 145px;
    font-size: 50px;
    float: left;
    width: 45px;
 }
 div.owl-carousel:hover .owl-nav button.owl-next {
    color: #fff;
    background: rgba(0,0,0,.5);
    line-height: 145px;
    font-size: 50px;
    float: right;
    width: 45px;
 }
 button.owl-prev:hover span,
 button.owl-next:hover span {
    font-size: 70px;
 }
 .owl-carousel {
     overflow: hidden;
 }